@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "SF-Pro"; /* Replace with your font's name */
  src: url("/fonts/SF-Pro.ttf") format("truetype");
  font-weight: normal; /* Adjust the weight as needed */
  font-style: normal; /* Adjust the style as needed */
}
@font-face {
  font-family: "kosmos"; /* Replace with your font's name */
  src: url("/fonts/kosmos.ttf") format("truetype");
  font-weight: normal; /* Adjust the weight as needed */
  font-style: normal; /* Adjust the style as needed */
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SF-Pro", sans-serif;
}

/* Create a class to use the font */
.font-kosmos {
  font-family: "kosmos", sans-serif; /* Fallback to sans-serif if kosmos isn't available */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.animate-blink {
  animation: blink 1s infinite;
}
.animate-banner {
  animation: blink 3s infinite ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.caution-pattern {
  background: repeating-linear-gradient(
    -55deg,
    #ffd500,
    #ffd500 20px,
    black 20px,
    black 50px
  );
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.animate-money span {
  animation: blink 1.5s infinite ease-in-out;
}

.animate-money span:nth-child(1) {
  animation-delay: 0s;
}

.animate-money span:nth-child(2) {
  animation-delay: 0.5s; /* Adjust delay for staggered effect */
}

.animate-money span:nth-child(3) {
  animation-delay: 1s; /* Adjust delay for staggered effect */
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.5;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
}

.top_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}
